.task-container {
  width: 400px;
  border-radius: 5px;
  background: rgb(244, 244, 244);
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 0.1px solid grey;
}

.task:last-of-type {
  border-bottom: none;
}


.task form {
  display: inline;
}

.done {
  text-decoration: line-through;
}
