
<form action="/tasks" method="post" class="add-form">
  <div>
    <label for="name">New task</label>
    <input type="text" name="name">
  </div>
  <div>
  <fieldset>
    <label><input type="radio" name="radio" value="P1" /> High</label>
    <label><input type="radio" name="radio" value="P2" /> Medium</label>
    <label><input type="radio" name="radio" value="P3" /> Low</label>
  </fieldset>
  <%# <div class="label-container">
    <p class="label">Work</p>
    <p class="label">Private</p>
    <p class="label">Hobby</p>
  </div> %>
  </div>
  <div class ="submit-container">
      <button class="cancel-btn">Cancel</button>
      <input type="submit" value="Add task" class="create-btn">
  </div>
</form>

<button class="add-task"><i class="fa fa-solid fa fa-plus"></i></button>

<div class="task-container">
  <% @tasks.each_with_index do |task, index| %>
    <div class="task d-flex">
      <div>
        <p> <%= index + 1%> - <%= task.name%> </p>
      </div>
      <form action="/tasks" method="post">
        <input type="checkbox">
      </form>
    </div>
  <% end %>
</div>
